<div class="container-list">
  <div class="list-header">
    <div class="item"><span>{{ 'coins.list.name' | translate}} </span></div>
    <div class="item"><span>{{ 'coins.list.price' | translate}} </span></div>
    <div class="item"><span>{{ 'coins.list.cryptocurrency' | translate}} </span></div>
    <div class="item"><span>{{ 'coins.list.convert' | translate}}</span></div>
  </div>
  <div
    *ngIf="displayCoins && displayCoins.length > 0"
    class="list-coins"
    infiniteScroll
    [infiniteScrollDistance]="2"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
  >
    <div class="coin" *ngFor="let coin of displayCoins">
      <div class="item">{{ coin.name }}</div>
      <div class="item price">{{ coin.price | currency }}</div>
      <div
        class="item crypto"
        [ngClass]="{ 'is-crypto': coin.isCryptocurrency }"
      >
        {{ coin.isCryptocurrency ? "SI" : "NO" }}
      </div>
      <div class="item">
        <img
          class="change"
          src="../../../../assets/images/change coin.png"
          alt=""
          (click)="redirectChange(coin)"
        />
      </div>
    </div>
  </div>
</div>
