@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap')
@import './../../../variables'

.exchange
  display: flex
  flex-wrap: wrap
  justify-content: center
  border-bottom: 1px solid $border-table
  font-family: 'Roboto', sans-serif

  &_header
    margin-top: 1em
    font-family: 'Roboto', sans-serif
    text-align: center

    &-title
      font-size: 2em
      content: ''

    &-subtitle
      color: $exchange-subtitle
      margin: 10px 0
      font-size: 1.5em
      font-weight: normal

  &_mix
    color: $acent-blue
    font-size: 1.3em
    cursor: pointer

    @media only screen and (min-width: $break-large)
      position: absolute
      left: 70%
      top: 309px
      display: inline

  &_field
    display: flex
    flex-wrap: wrap
    justify-content: center
    flex-basis: 100%
    margin: 10px 0

    &-input
      border: 1px solid $input-border
      flex-basis: 100%
      margin: 0 30%
      padding: 10px
      border-radius: 17px
      font-size: 1.0em
      text-align: center
      color: $input-border
      letter-spacing: 0.1em
      font-weight: bold
      font-family: 'Ubuntu', sans-serif

    &-select
      border: 1px solid $input-border
      flex-basis: 100%
      margin: 0 30%
      border-radius: 17px
      position: relative
      letter-spacing: 0.1em
      min-width: 230px

      select
        border: none
        outline: none
        background: transparent
        appearance: none
        text-align: center
        font-size: 1.0em
        width: 100%
        padding: 10px
        z-index: -10
        color: $input-text
        font-weight: bold
        font-family: 'Ubuntu', sans-serif

      &::after
        position: absolute
        right: 0
        top: 0
        width: 50px
        height: 100%
        line-height: 2.5em
        content: "\f078"
        font-family: "Font Awesome 5 Pro"
        font-weight: 900
        text-align: center
        font-size: 1em
        z-index: 11
        color: $input-text
