@import './../../../variables'

.exchange
  display: flex
  flex-wrap: wrap
  justify-content: center
  border-bottom: 1px solid $border-table

  &_field
    display: flex
    flex-wrap: wrap
    justify-content: center
    flex-basis: 100%
    margin: 25px 0

    &-input
      border: 1px solid #949494
      flex-basis: 100%
      margin: 0 30%
      padding: 10px
      border-radius: 17px
      font-size: 1.0em

    &-select
      position: relative
      font-family: Arial
      flex-basis: 100%
      margin: 0 30%

      select
        display: none

.dropdown-arrow
  position: absolute
  color: inherit
  right: 0
  bottom: 0
  cursor: pointer
