$break-medium: 500px
$break-large: 900px

$small-screen: 600px
$medium-screen: 768px
$large-screen: 992px
$extra-screen: 1200px

$acent-blue: #0076FF
$text-tabs: #4E4E4E
$text-tabs: #4E4E4E
$border-table: #EEEEEE
$input-text: #9B9B9B
$input-border: #949494
$exchange-subtitle: #D8D8D8
